$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "./vars.scss";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  margin-bottom: $navbar-height;
}

h1 {
  font-weight: 700;
}

.navbar {
  margin-bottom: $grid-gutter-width;
}
  .navbar-brand {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
  }
    .form-control {
      width: 100%;
      height: 75px;
      border: 5px solid $green;
      box-shadow: none;

      font-size: 2.5em;

      &:focus {
        box-shadow: none;
      }
    }

  .ac-menu {
    list-style: none;
    padding: 0;
  }
    .ac-menu-item a {
      color: $black;
      &:hover,
      .ac-state-focus & {
        color: $green;
        text-decoration: none;
      }
    }
  .suggest-item {
    display: block;
    background-color: #EEE;
    margin: ($grid-gutter-width / 2) 0;
    padding: $grid-gutter-width / 2;

    font-size: 2.5em;
    color: $black;
  
    &:hover,
    .ac-state-focus & {
      color: $green;
      text-decoration: none;
    }
  }

// Artist card
.artist {
  background-color: #EEE;
  padding: $grid-gutter-width / 2;
  margin: $grid-gutter-width 0 ;

  @include clearfix;
}
  .artist-name {
    margin: 0;
    font-size: 3.2em;
    font-weight: 700;
  }
  .artist-rate {
    font-size: 2em;
    font-weight: 600;
  }
  .artist-image {
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 200px;
    width: 200px;

    float: left;
    margin-right: $grid-gutter-width / 2;
  }
  .artist-link {
    float: right;
    background-color: $green;
    padding: 10px;
    color: $white;

    &:hover,
    &:focus {
      color: $white;
      background-color: darken($green, 10%);
      text-decoration: none;
    }
  }

.social-share {
  display: relative;
  @include clearfix;
}

.share-link {
  display: inline-block;
  padding: ($grid-gutter-width / 2) $grid-gutter-width;
  margin-left: $grid-gutter-width;
  color: $white;
  width: 300px;
  text-align: center;
  background-color: darken(#EEE, 20%);

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }

  &.facebook {
    background-color: $facebook;
  }
  &.twitter {
    background-color: $twitter;
  }
}

  .share-link-artist {
    width: 48%;
    float: left;
    padding: ($grid-gutter-width / 2) $grid-gutter-width;
    margin: 0 1%;
    color: $white;
    text-align: center;
    
    &:hover,
    &:focus {
      color: $white;
      text-decoration: none;
    }

    &.facebook {
      background-color: $facebook;
    }
    &.twitter {
      background-color: $twitter;
    }
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #EEE;

  padding: $grid-gutter-width 0;
}

