<h1>How hipster is your favorite artist?</h1>
<p><strong>Hipsterify</strong> is a small application that use <a href="https://developer.spotify.com/web-api/">Spotify API</a> to search and rank artists according to their popularity on the platform. The popularity* of the artist is always between 0 and 100, with 100 being the most popular. But Hipsterify does the opposite, with 100 being the least popular and therefore the most hipster.</p>
<p>Hipsterify is an experiment by <a href="http://ricardoramirez.me/" target="_blank">Ricardo Ramirez</a>. This project is developed in Angular.js using <a href="http://hakib.github.io/MassAutocomplete/" target="_blank">angular-mass-autocomplete</a> and <a href="https://github.com/eddiemoore/angular-spotify" target="_blank">angular-spotify</a>. The source code is on <a href="https://github.com/ricardoerl/hipsterify" target="_blank">GitHub</a> and is still under development.</p>
<p class="text-muted">* The artist's popularity is calculated from the popularity of all the artist's tracks.</p>
<br>
<br>
<div class="text-center">
	<a href="/#/" class="btn btn-primary btn-lg">Start searching</a>
</div>
