
<div mass-autocomplete>
  <input class="form-control" placeholder="Search your artist here..." 
    ng-model="dirty.value"
    mass-autocomplete-item="autocomplete_options">
</div>

<div ng-show="artist.name" class="artist">
	<img class="artist-image" ng-src="{{ artist.images[0].url }}" width="300" height="300" alt="{{ artist.name }}">
	<a class="artist-link" href="{{ artist.external_urls.spotify }}" target="_blank">Go to profile</a>
	<span>{{ artist.followers.total | number:0 }} followers</span>
	<h1 class="artist-name">{{ artist.name }}</h1>
	<p class="artist-rate">{{ 100 - artist.popularity }}% hipster on Spotify</p>
	<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="{{ 100 - artist.popularity }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ 100 - artist.popularity }}%;">
		{{ 100 - artist.popularity }}%
		</div>
	</div>
	<p>{{ artist.level }}</p>
</div>
<div ng-show="artist.name" class="social-share">
	<a class="share-link-artist sharebutton facebook" data-sharetype="facebook" data-text="{{ artist.name }} ➞ {{ artist.popularity }}% hipster on Spotify. Find more in Hipsterify:" title="Share {{ artist.name }}'s rating on Facebook" href="http://ricardoramirez.me/labs/hipsterify/">Share {{ artist.name }}'s rating on Facebook</a>
	<a class="share-link-artist sharebutton twitter" data-sharetype="twitter" data-text="{{ artist.name }} ➞ {{ artist.popularity }}% hipster on Spotify. Find more in Hipsterify:" data-via="ricardoerl" title="Share {{ artist.name }}'s rating on Twitter" href="http://ricardoramirez.me/labs/hipsterify/">Share {{ artist.name }}'s rating on Twitter</a>
</div>
